@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;">建筑工程咨询信息平台</h1>
    <h2 style="text-align:center;">Construction Engineering Consulting System</h2>
    <br />
    <p class="lead">本平台主要为建筑工程咨询工作提供信息服务，并针对结构全过程咨询的痛点，建立工程量数据的收集与查询系统，为工程量指标的确定提供可靠依据。</p>
    <p class="lead">
        This platform mainly provides information service for construction engineering consultation.
        We establishes the collection and inquiry system of engineering quantity data aiming at the pain point of the whole process consultation of structure,
        and provides reliable basis for the determination of engineering quantity index.
    </p>
    <br />
    <p><a href="/System/InfoSystem" class="btn btn-primary btn-lg">工程信息系统 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>